:root {
  --blue: #0062ae;
  --light-blue: #c7d7eb;
  --cyan: #009bd8;
  --light-cyan: #bfe6f6;
  --pink: #e50064;
  --light-pink: #f8c2d9;
  --green: #00855f;
  --light-green: #bfe9de;
  --orange: #ce4b16;
  --light-orange: #fcd8c8;
  --red: #e4032e;
  --light-red: #fac6ce;
  --mint: #3ca29a;
  --light-mint: #cfe9e7;
  --yellow: #ffd239;
  --light-yellow: #fff0cd;

  --black: #000000;
  --dark: #404040;
  --gray: #cdcbbd;
}

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Arial, Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
