%text-style {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  margin: 6px 0;
}

.pagetitle {
  font-size: 1.5rem;
  text-align: center;
}

.pageimg {
  height: 247px;
  width: 330px;
  margin: auto;
}

.grid {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  max-width: 1680px;
  margin: auto;
}

.profile {
  display: grid;
  grid-template-rows: min-content 32px 48px min-content;
  justify-items: center;
  margin: 24px 16px;
  flex-basis: 30%;
}

.name {
  @extend %text-style;
  font-size: 1.25rem;
}

.title {
  @extend %text-style;
  width: 95%;
}

.text {
  @extend %text-style;
}

.profilepicture {
  width: 164px;
  height: 164px;
  position: relative;
  margin-bottom: 16px;
  div {
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px #bbbbbb;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
  margin: 6px 0;
  a {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px #bbbbbb;
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 0px 10px 2px #009bd8;
    }
  }
}

@media only screen and (max-width: 1295.5px) {
  %text-style {
    text-align: left;
  }

  .pageimg {
    height: 204px;
    width: 273px;
  }

  .profile {
    grid-template-columns: min-content;
    grid-template-rows: min-content 1fr;
    justify-items: start;
    align-self: start;
    width: clamp(312px, min(450px, 40vw), 450px);
    margin: 24px 4px;
    padding: 4px;
    flex: none;
  }

  .profilepicture {
    grid-row: 1 / span 2;
    height: 90px;
    width: 90px;
    margin-right: 16px;
  }

  .name {
    grid-row: 1;
  }

  .title {
    grid-row: 2;
    align-self: start;
  }

  .text,
  .socials {
    grid-column: 1 / span 2;
    align-items: flex-start;
  }
}
